<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/homePage/homePage_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <style>
        /* calendar.html */
        .cursor-td {
            cursor: pointer;
        }

        .fc-col-header-cell-cushion,
        .fc-daygrid-day-number {
            text-decoration: none;
        }

        .fc .fc-toolbar.fc-header-toolbar {
            text-decoration: underline;
            color: white;
            background-color: #8BC3A9;
            padding-top: 0.3em;
            padding-bottom: 0.2em;
            padding-left: 1em;
            margin-bottom: auto;
        }

        .fc-dayGridMonth-view {
            border: 1px solid #8BC3A9;

        }

        .fc-scrollgrid-sync-inner>.fc-col-header-cell-cushion,
        .fc-day-mon .fc-daygrid-day-number,
        .fc-day-tue .fc-daygrid-day-number,
        .fc-day-wed .fc-daygrid-day-number,
        .fc-day-thu .fc-daygrid-day-number,
        .fc-day-fri .fc-daygrid-day-number {
            color: black;
        }

        .fc-day-sun .fc-col-header-cell-cushion,
        .fc-day-sun a {
            color: red;
        }

        .fc-day-sat .fc-col-header-cell-cushion,
        .fc-day-sat a {
            color: blue;
        }
    </style>
    <!-- html 코드 작성 -->
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col text-white bg-opacity-25" style="position: relative;">
                    <img src="/upload/159159.gif" style="width: 100%; height: 200px;">
                    <!-- 책검색기능 -->
                    <!-- <div class="row mt-4 mb-5 ms-3" style="height: 12vh;">
                        <div class="col"> -->
                    <div class="row "
                        style="margin-top: 4vh; position: absolute; top: 20%; left: 10%; z-index: 1; width: 70%;">
                        <div class="col-3"></div>
                        <div class="col-2">
                            <!-- 카테고리 -->
                            <select class="form-select" aria-label="Default select example" name="searchType"
                                id="search-type" style="height: 5vh;">
                                <option value="BOOK_TITLE" th:selected="${bookSearchVO.searchType == 'BOOK_TITLE' }">책이름
                                </option>
                                <option value="BOOK_WRITER" th:selected="${bookSearchVO.searchType == 'BOOK_WRITER'}">저자
                                </option>
                                <option value="BOOK_PUB" th:selected="${bookSearchVO.searchType == 'BOOK_PUB'}">
                                    출판사
                                </option>
                            </select>
                        </div>
                        <div class="col-4">
                            <!-- 검색 -->
                            <input type="text" class="form-control" name="searchValue" id="search-value"
                                style="height: 5vh;" th:value="${bookSearchVO.searchValue}">
                        </div>
                        <div class="col-1">
                            <!-- 검색 버튼 -->
                            <input type="submit" class="btn text-white" value="검색"
                                style="background-color: #4F9D79; height: 5vh;">
                        </div>

                        <!-- <div class="col-4"
                                    style="font-family: YEONGJUSeonbiTTF; font-size: 1.5em; font-weight: 300;">
                                    <div>책 읽는 당신을 위한 그린 도서관📖</div>
                                </div> -->
                    </div>
                    <!-- </div>
                    </div> -->
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-6">
                    <!-- 공지사항 -->
                    <div class="row mt-4">
                        <div class="col bg-success text-white bg-opacity-50">
                            <div class="fs-3 p-1" style=" text-decoration : underline;">공지사항</div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col bg-success bg-opacity-50">
                            <table class="table ">
                                <colgroup>
                                    <col width="30%">
                                    <col width="*">
                                </colgroup>
                                <tbody class="">
                                    <th:block th:each="e:${noticeList}">
                                        <tr>
                                            <td>[[${e.boardDate}]]</td>
                                            <td class="cursor-td" th:onclick="goNotice([[${e.boardNum}]])">
                                                [[${e.boardTitle}]]</td>
                                        </tr>
                                    </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- 행사정보 -->
                    <div class="row mt-4">
                        <div class="col ">
                            <div class="row">
                                <div class="col bg-success text-white bg-opacity-50">
                                    <div class="fs-3 p-1" style=" text-decoration : underline;">행사정보</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col bg-success text-white bg-opacity-50">
                                    <table class="table">
                                        <colgroup>
                                            <col width="30%">
                                            <col width="*">
                                        </colgroup>
                                        <tbody>
                                            <th:block th:each="event : ${eventList}">
                                                <tr>
                                                    <td>[[${event.boardDate}]]</td>
                                                    <td class="cursor-td" th:onclick="goEvent([[${event.boardNum}]])">
                                                        [[${event.boardTitle}]]</td>
                                                </tr>
                                            </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6">

                    <!-- 달력 -->
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col">
                            <div id='calendar' style="width: 100%; font-size: 0.8em;"></div>
                        </div>
                    </div>
                </div>



            </div>

            <div class="row">
                <div class="col-6">
                    <!-- 책 추천, 새로 들어온 책,  -->
                    <div class="row mt-2 mb-2" id="book-list-tag">

                        <input type="hidden" name="type" th:value="${type}">
                        <div class="col d-grid">
                            <!-- #5F9EA0 -->
                            <button class="btn text-white" style="background-color: #4F9D79;"
                                onclick="findBookList('recommend')">추천도서</button>
                        </div>
                        <div class="col d-grid">
                            <button class="btn text-white" style="background-color: #4F9D79;"
                                onclick="findBookList('new')">새로들어온 책</button>
                        </div>
                        <div class="col d-grid">
                            <button class="btn text-white" style="background-color: #4F9D79;"
                                onclick="findBookList('many')">대출이
                                많은 책</button>
                        </div>

                    </div>

                    <div class="row mt-1 bg-success-subtle" id="bookList-type-div">
                        <div class="text-center mb-1" style="font-size: 2em; font-weight: bold; ">
                            <span class="bg-success-subtle bg-opacity-75" style="display: inline-block; width: 10vw;">
                                [[${type}]]
                            </span>
                        </div>
                        <th:block th:each="e:${bookList}">
                            <div class="col-4 text-center">
                                <div class="row">
                                    <div class="col">
                                        <img th:src="@{/upload/} + ${e.bookInfoAttachedFileName}" width="60%"
                                            style="height: 20vh;">
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col">
                                        [[${e.bookTitle}]]
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="col-6">
                    <!-- 행사 -->
                    <div class="row mt-1 mb-2">
                        <div class="col-1"></div>
                        <div class="col">
                            <div class="fs-3 text-white"
                                style="background-color: #8BC3A9; text-decoration : underline;"><span
                                    class="ms-2">행사정보</span></div>
                            <div class="">
                                <div id="carouselExampleIndicators" class="carousel slide">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="0" class="active" aria-current="true"
                                            aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                            data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="/upload/f4d4330e-9b95-44fa-8243-db2a0141de89.jpg"
                                                style="height: 60vh;" width="100%" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/upload/3a5b56c7-9516-4584-8292-ba1957b6e315.jpg"
                                                style="height: 60vh;" width="100%" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="/upload/f4d4330e-9b95-44fa-8243-db2a0141de89.jpg"
                                                style="height: 60vh;" width="100%" alt="...">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                        data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 영화상영 -->

        </div>
    </div>
    <!-- 이거 달력 불러오는 스크립트 주소 입니다 달력 표시하고 싶으면 꼭 넣으세요 -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script>
        //달력 읽어오기
        calendarData();

        function goNotice(boardNum) {
            location.href = `/goNotice?boardNum=${boardNum}`
        }

        function goEvent(boardNum) {
            location.href = `/goDetailParticipation?boardNum=${boardNum}`
        }

        function findBookList(type) {

            let bookListTypeDiv = document.querySelector("#bookList-type-div");
            bookListTypeDiv.innerHTML = ''


            // ------------------- 첫번째 방식 ---------------//
            // 달력 정보 불러오는 컨트롤러 주소는 아래에 있숨
            fetch('/homeBookList', { //요청경로
                method: 'POST',
                cache: 'no-cache',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
                //컨트롤러로 전달할 데이터
                body: new URLSearchParams({
                    // 데이터명 : 데이터값
                    type: type
                })
            })
                .then((response) => {
                    if (!response.ok) {
                        alert('fetch error!\n컨트롤러로 통신중에 오류가 발생했습니다.');
                        return;
                    }

                    //return response.text(); //컨트롤러에서 return하는 데이터가 없거나 int, String 일 때 사용
                    return response.json(); //나머지 경우에 사용
                })
                //fetch 통신 후 실행 영역
                .then((data) => {//data -> controller에서 리턴되는 데이터!
                    console.log(data)

                    let korType = ''
                  
                    


                    let str = ``;
                    str += `
                        <div class="text-center mb-1" style="font-size: 2em; font-weight: bold; ">
                                <span class="bg-success-subtle bg-opacity-75" style="display: inline-block; width: 10vw;">
                                    ${data.type}
                                </span>
                        </div>
                    `
                    data.bookList.forEach((e, idx) => {
                        str += `
                        <div class="col-4 text-center">
                            <div class="row">
                                <div class="col">
                                    <img src="/upload/${e.bookInfoAttachedFileName}" width="60%"
                                        style="height: 20vh;">
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col">
                                    ${e.bookTitle}
                                </div>
                            </div>
                        </div>
                        `
                    });
                    bookListTypeDiv.insertAdjacentHTML('afterbegin', str);
                })
                //fetch 통신 실패 시 실행 영역
                .catch(err => {
                    alert('fetch error!\nthen 구문에서 오류가 발생했습니다.\n콘솔창을 확인하세요!');
                    console.log(err);
                });
        }

        function calendarData() {
            // ------------------- 첫번째 방식 ---------------//
            //달력 정보 불러오는 컨트롤러 주소는 아래에 있숨
            fetch('/calendarData2Fetch', { //요청경로
                method: 'POST',
                cache: 'no-cache',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
                //컨트롤러로 전달할 데이터
                body: new URLSearchParams({
                    // 데이터명 : 데이터값
                })
            })
                .then((response) => {
                    if (!response.ok) {
                        alert('fetch error!\n컨트롤러로 통신중에 오류가 발생했습니다.');
                        return;
                    }

                    //return response.text(); //컨트롤러에서 return하는 데이터가 없거나 int, String 일 때 사용
                    return response.json(); //나머지 경우에 사용
                })
                //fetch 통신 후 실행 영역
                .then((data) => {//data -> controller에서 리턴되는 데이터!
                    let eventList = []
                    eventList = data
                    console.log(eventList)


                    var calendarEl = document.getElementById('calendar');
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        //높이 조절
                        height: 420,
                        // 컨텐츠 높이 조절
                        contentHeight: 375,

                        //시간표시 제거하기
                        displayEventTime: false,
                        expandRows: true,

                        //비율 조절
                        //aspectRatio: 1.8,

                        themeSystem: 'bootstrap5',
                        //헤더
                        headerToolbar: {
                            start: 'title',
                            center: '',
                            end: ''
                        },


                        initialView: 'dayGridMonth',
                        locale: 'ko',
                        //이벤트
                        events: eventList

                    });
                    calendar.render();



                })
                //fetch 통신 실패 시 실행 영역
                .catch(err => {
                    alert('fetch error!\nthen 구문에서 오류가 발생했습니다.\n콘솔창을 확인하세요!');
                    console.log(err);
                });

        }
    </script>

</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>

</html>