<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/homePage/homePage_detail_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row mt-4">
        <div class="col-12">
            <h3>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="50" fill="currentColor" class="bi bi-book"
                    viewBox="0 0 16 16">
                    <path
                        d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
                </svg>
                / 문화 행사/교육 / 행사 참가 신청 확인
            </h3>
        </div>
        <div class="col mt-3">
            <table class="align-middle table text-center">
                <thead>
                    <tr>
                        <td><input type="checkbox" id="allChk" checked onclick="allchk()">전체선택</td>
                        <td>이름</td>
                        <td>제목</td>
                        <td>행사 시작 날짜</td>
                        <td>행사 마감 날짜</td>
                        <td>신청기간</td>
                        <td>정원</td>
                        <td>신청 날짜</td>
                        <td>상태</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="board : ${boardList}" class="tr-list">
                        <td><input type="checkbox" id="chk" checked onclick="allchk()"></td>
                        <td>[[${board.MemberVO.userName}]]</td>
                        <td>[[${board.boardTitle}]]</td>
                        <td>[[${board.PlusVO.openDate}]]</td>
                        <td>[[${board.PlusVO.closeDate}]]</td>
                        <th:block th:if="${board.PlusVO.toDate}">
                            <td style="font-weight: bold;">[[${board.PlusVO.toDate}]] ~ [[${board.PlusVO.fromDate}]]</td>
                        </th:block>
                        <td>[[${board.PlusVO.personnel}]] / [[${board.PlusVO.maximumPerson}]]</td>
                        <td style="font-weight: bold;  color: cornflowerblue;">[[${board.ApplyVO.applyDate}]]</td>
                        <td>[[${board.ApplyVO.applyStatus}]]</td>
                        <td>
                            <input type="button" class="btn" value="승인" th:onclick="approve([[${board.boardNum}]])">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="/js/content/culture/culture.js"></script>
</th:block>

</html>