<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/homePage/homePage_detail_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row mt-4">
        
        <div class="col mt-3">
            <table class="align-middle table text-center">
                <thead>
                    <tr>

                        <td>이름</td>
                        <td>제목</td>
                        <td>행사 시작 날짜</td>
                        <td>행사 마감 날짜</td>
                        <td>신청기간</td>
                        <td>정원</td>
                        <td>신청 날짜</td>
                        <td>상태</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <!-- 관리자 goApplyList.html -->
                    <tr th:each="board : ${boardList}" class="tr-list">
                        <th:block th:if="${board.ApplyVO.applyStatus == '신청대기'}">
                            <td>[[${board.MemberVO.userName}]]</td>
                            <td>[[${board.boardTitle}]]</td>
                            <td>[[${board.PlusVO.openDate}]]</td>
                            <td>[[${board.PlusVO.closeDate}]]</td>
                            <th:block th:if="${board.PlusVO.toDate}">
                                <td style="font-weight: bold;">[[${board.PlusVO.toDate}]] ~ [[${board.PlusVO.fromDate}]]</td>
                            </th:block>
                            <td>[[${board.PlusVO.personnel}]] / [[${board.PlusVO.maximumPerson}]]</td>
                            <td style="font-weight: bold;  color: cornflowerblue;">[[${board.ApplyVO.applyDate}]]</td>
                            <td>[[${board.ApplyVO.applyStatus}]]</td>
                            <td>
                                <input type="button" class="btn btn-primary" value="승인" th:onclick="|location.href='@{/approve(boardNum=${board.boardNum})}'|">
                            </td>
                        </th:block>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="/js/content/culture/culture.js"></script>
</th:block>

</html>