.header{
    width: 100%;
    height: 50px;
    border: 1px solid black;
}

.content{
    width: 100%;
    height: 500px;
    border: 1px solid black;
}

.left{
    width: 40%;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid black;
}

.right{
    width: 60%;
    float: right;
    box-sizing: border-box;
}

textarea{
    resize: none;
    height: 3em;
    width: 90%;
}