<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/homePage/homePage_detail_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row">
        <div class="col">
            <!-- 대출이 많은책 -->
            <div class="row mt-2">
                <div class="col">

                    <!-- 안내문 -->
                    <div class="border border-success mb-2 rounded-4 ">
                        <div class="row">
                            <div class="col-2">
                                <img src="/upload/book_character_smile.png" width="100%">
                            </div>
                            <div class="col-10 text-center  ">
                                <br><br>
                                <h4>[[${date}]]일 기준 대출이 많은 책 입니다.</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row row-cols-5 mt-3">
                <th:block th:each="e,state:${bookList}">

                    <th:block th:if="${11 >state.index+1}">
                        <div class="col mt-4" th:onclick="bookDetail([[${e.bookCode}]])">
                            <div class="row">
                                <div class="col position-relative text-center">
                                    <!-- 순위 -->
                                    <div class="position-absolute top-0 start-20"
                                        style="background-color: tomato; color: white; font-size: 2em; width: 20%">
                                        [[${state.index+1}]]
                                    </div>
                                    <!-- 이미지 -->
                                    <img th:src="@{'/upload/' + ${e.bookInfoAttachedFileName}}" alt=""
                                        style="height: 25vh; width: 80%;">
                                    <div class="position-absolute bottom-0 start-0"
                                        style="background-color: tomato; width: 90%;">

                                        <div
                                            style="overflow: hidden; font-size: 0.8em; text-overflow: ellipsis; white-space: nowrap; width: 90%;">
                                            [[${e.bookTitle}]]</div>
                                        <div
                                            style="overflow: hidden; font-size: 0.8em; text-overflow: ellipsis; white-space: nowrap; width: 90%;">
                                            [[${e.bookWriter}]]</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>

                    <th:block th:if="${state.index == 11}">
                        <div class="col-12 mt-1"></div>
                    </th:block>

                    <th:block th:if="${state.index+1>11}">
                        <div class="col-6" th:onclick="bookDetail([[${e.bookCode}]])">
                            <div class="row border border-3" style="height: 100%;">
                                <div class="col-5">
                                    <!-- 이미지 -->
                                    <img th:src="@{'/upload/' + ${e.bookInfoAttachedFileName}}" alt=""
                                        style="height: 25vh; width: 80%;">
                                </div>
                                <div class="col-7">
                                    <p>[[${e.bookTitle}]]</p>
                                    <p>[[${e.bookWriter}]]</p>
                                    <p>[[${e.bookPub}]]</p>
                                    <p>[[${e.bookYear}]]</p>
                                    <p>[[${e.bookCateName}]]</p>
                                    <p>[[${e.bookMidCateName}]]</p>
                                </div>
                            </div>
                        </div>
                    </th:block>

                </th:block>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="book-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <!-- 책 상세 정보들 넣어주기 -->
                            <div class="row">
                                <div class="col-6">
                                    <!-- 책 사진 들어가는곳  -->
                                    <img src="/upload/book_character_smile.png" width="261px" height="383px" alt="">
                                </div>
                                <div class="col-6">
                                    <div class="row mt-5">
                                        <!-- 북 코드 -->
                                        <div class="col-2">코드 :</div>
                                        <div class="col">GR0000012345</div>
                                    </div>

                                    <div class="row mt-2">
                                        <!-- 제목 -->
                                        <div class="col-2">제목 :</div>
                                        <div class="col">책 제목
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <!-- 저자 -->
                                        <div class="col-2">저자 :</div>
                                        <div class="col">저자</div>
                                    </div>

                                    <div class="row mt-2">
                                        <!-- 출판사 -->
                                        <div class="col-3">출판사 :</div>
                                        <div class="col">출판사123</div>
                                    </div>

                                    <div class="row mt-2">
                                        <!-- 현재 이 책을 빌릴 수 있는지 확인 -->
                                        <div class="col-4">대출 여부 :</div>
                                        <div class="col">Y</div>
                                    </div>

                                </div>
                            </div>
                            <div class="row text-center mt-2">
                                <!-- 카테고리 -->
                                <div class="col-2">카테고리 :</div>
                                <div class="col-5">대분류 ></div>
                                <div class="col-5">중분류</div>
                            </div>

                            <div class="row mt-2">
                                <!-- 책 소개 -->
                                <div class="col">
                                    <div class="row  text-center">
                                        <div class="col" style="border-bottom: solid 1px black;">
                                            책소개
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            책소개 123123
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <!-- 예약하기 버튼 -->
                    <button type="button" class="btn btn-primary">예약하기 </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function bookDetail(bookCode) {
            // 책 하나 찾기
            console.log(bookCode)
            //모달 태그 찾기
            let book_modal = new bootstrap.Modal('#book-modal');

            // ------------------- 첫번째 방식 ---------------//
            fetch('/findBookDetail', { //요청경로
                method: 'POST',
                cache: 'no-cache',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                },
                //컨트롤러로 전달할 데이터
                body: new URLSearchParams({
                    // 데이터명 : 데이터값
                    bookCode: bookCode
                })
            })
                .then((response) => {
                    if (!response.ok) {
                        alert('fetch error!\n컨트롤러로 통신중에 오류가 발생했습니다.');
                        return;
                    }

                    //return response.text(); //컨트롤러에서 return하는 데이터가 없거나 int, String 일 때 사용
                    return response.json(); //나머지 경우에 사용
                })
                //fetch 통신 후 실행 영역
                .then((data) => {//data -> controller에서 리턴되는 데이터!
                    console.log(data)
                    let modal_body_Tag = document.querySelector(".modal-body");

                    //안에내용 갈아엎기
                    modal_body_Tag.innerHTML = ''

                    let str = `
                             <div class="row">
                                <div class="col">
                                    <!-- 책 상세 정보들 넣어주기 -->
                                    <div class="row">
                                        <div class="col-6 text-center">
                                            <!-- 책 사진 들어가는곳  -->
                                            <img src="/upload/${data.bookInfoAttachedFileName}" width="261px" height="383px" alt="">
                                        </div>

                                        <div class="col-6 mt-5">
                                            <div class="row mt-5">
                                                <!-- 북 코드 -->
                                                <div class="col-2">코드 :</div>
                                                <div class="col">${data.bookCode}</div>
                                            </div>

                                            <div class="row mt-2">
                                                <!-- 제목 -->
                                                <div class="col-2">제목 :</div>
                                                <div class="col">${data.bookTitle}
                                                </div>
                                            </div>

                                            <div class="row mt-2">
                                                <!-- 저자 -->
                                                <div class="col-2">저자 :</div>
                                                <div class="col">${data.bookWriter}</div>
                                            </div>

                                            <div class="row mt-2">
                                                <!-- 출판사 -->
                                                <div class="col-3">출판사 :</div>
                                                <div class="col">${data.bookPub}</div>
                                            </div>



                                            <div class="row mt-2">
                                                <!-- 현재 이 책을 빌릴 수 있는지 확인 -->
                                                <div class="col-4">대출 여부 :</div>
                                                <div class="col">${data.bookBorrowAvailable}</div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row text-center mt-2">
                                        <!-- 카테고리 -->
                                        <div class="col-2">카테고리 </div>
                                        <div class="col-5">대분류 : ${data.bookCateName}/div>
                                        <div class="col-5">중분류 : ${data.bookMidCateName}</div>
                                    </div>

                                    <div class="row mt-2">
                                        <!-- 책 소개 -->
                                        <div class="col">
                                            <div class="row  text-center">
                                                <div class="col" style="border-bottom: solid 1px black;">
                                                    책소개
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col">
                                                    ${data.bookIntro}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                    `

                    modal_body_Tag.insertAdjacentHTML("afterbegin", str)
                    book_modal.show();


                })
                //fetch 통신 실패 시 실행 영역
                .catch(err => {
                    alert('fetch error!\nthen 구문에서 오류가 발생했습니다.\n콘솔창을 확인하세요!');
                    console.log(err);
                });

        }
    </script>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/"></script>
</th:block>

</html>