.text-div{
  margin-top: 70px;
  font-size: 18px;
}

.text-div .hi:before {
  display: block;
  content: "";
  width: 4px;
  height: 18px;
  background: orange;
  transform: rotate(45deg);
}

p{
  font-size: 22px;
}

p > span{
  font-weight: bold;
  color: darkgreen ;
  margin-left: 8px;
}
