.text-div{
  margin-top: 70px;
  font-size: 18px;
}

.text-div .hi:before {
  display: block;
  content: "";
  width: 4px;
  height: 18px;
  background: coral;
  transform: rotate(45deg);
}

.hi{
  font-size: 26px;
  font-weight: 500;
}

p > span{
  color: darkgreen ;
  margin-left: 8px;
}
