
.box-div{
  border: 1px solid darkgreen;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 5px 5px gray;
}

.title-head{
  font-size: 30px;
  display: inline-block;
  font-weight: bolder;
  margin-left: 3px;
  margin-bottom: 0px;
}

.title-head > h2{
  margin: 0;
}

.cf-table {
  border: 2px solid rgb(190, 191, 196);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  border-radius: 10px;
  border-style: hidden;
  height: 180px;
  box-shadow: 0 0 0 1px #ccc;

}


.cf-table td{
  padding-top: 5px;
  padding-right: 40px;
  border-bottom: none;
}
.cf-table tr{
  width: 100%;
  padding-right: 20px;
}

.cf-box-div{
  border: 1px solid rgb(190, 191, 196);
  border-radius: 30px;
  padding: 10px;
  height: 350px;
  box-shadow: 5px 5px gray;
}

.join-div > span{
  display: inline-block;
  margin-left: 50px;
  cursor: pointer;
}
.find-div > span{
  display: inline-block;
  margin-right: 50px;
  cursor: pointer;

}