

.title-head{
    font-size: 30px;
    display: inline-block;
    font-weight: bolder;
    margin-left: 3px;
}

.table{
    font-size: 18px;
}
.table-thead > tr > td{
    font-weight: bold;

}
.table-tbody > tr > td:first-child{
    background-color: #fffef5;
}
.intro > tr > td > span{
    font-weight: bold;
    color: #d82a00;
}
.intro .intro-td{
    text-align: center;
    font-weight: bold;
    background-color: #fffef5;
}
.tbox > span{
    font-size: 20px;
    font-weight: bold;
    color: darkgreen;
}
.small-dot{
    list-style: square
}

.small-dot > li{
    color: black;
    font-size: 18px;
}
.small-dot > li::marker{
    color: gray;
}
.small-ul > li{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 16px;
}