<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/homePage/homePage_detail_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row mt-4">
        <div class="col-12">
            <div>
                <p><span style="font-weight: bold;">참가신청 :</span> 로그인 → ‘신청’ 버튼이 활성화되어 있는 날짜 중 희망 날짜 선택 후<br>
                   신청 → 신청 양식 작성 → 행사 신청 후 ‘승인완료’ 처리 여부를 반드시 확인하시길 바랍니다.
            </div>
        </div>
        <div>
            <form action="/eventParticipation" method="post">
                <tr>
                    <td colspan="4">
                        <select name="searchType" class="form-select" style="width: 200px; display: inline-block;">
                            <option value="BOARD_TITLE" th:selected="${searchVO.searchType == 'board_Title'}">프로그램명
                            </option>
                            <option value="TEACHER" th:selected="${searchVO.searchType == 'TEACHER'}">강사명</option>
                        </select>
                        <input type="search" class="form-control" style="width: 670px; display: inline-block;"
                            name="searchValue" th:value="${searchVO.searchValue}">
                        <input type="submit" class="btn btn-primary" style="margin-bottom: 3px;" value="검색">
                    </td>
                </tr>
            </form>
        </div>
        
        <div class="col mt-3">
            <table class="align-middle table text-center">
                <thead>
                    <tr>
                        <td sec:authorize="hasRole('ROLE_Y')">
                            <input type="checkbox" id="allChk" onclick="allchk()">전체선택
                        </td>
                        <td>강사명</td>
                        <td>프로그램명</td>
                        <td>대상</td>
                        <td>운영기간</td>
                        <td>신청기간</td>
                        <td>정원</td>
                        <td>상태</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="board : ${boardList}">
                        <td sec:authorize="hasRole('ROLE_Y')">
                            <input th:value="${board.boardNum}" type="checkbox" class="chk">
                        </td>
                        
                        <td>[[${board.PlusVO.teacher}]]</td>
                        <td>
                            <span th:onclick="|location.href='@{/goDetailParticipation(boardNum=${board.boardNum})}'|"
                                style="cursor: pointer; font-weight: bold;">[[${board.boardTitle}]]</span>
                        </td>
                        <td>[[${board.PlusVO.target}]]</td>
                        <td>[[${board.PlusVO.openDate}]] ~ [[${board.PlusVO.closeDate}]]</td>
                        <td>[[${board.PlusVO.toDate}]] ~ [[${board.PlusVO.fromDate}]]</td>
                        <td>[[${board.PlusVO.personnel}]] / [[${board.PlusVO.maximumPerson}]]</td>
                        <td th:style="${board.PlusVO.eventStatus != '진행마감'} ? 'font-weight: bold' : ''">
                            <span th:style="${board.PlusVO.eventStatus == '진행중'} ? 'color:black' : ''">
                                <span th:style="${board.PlusVO.eventStatus == '진행예정'} ? 'color:blue' : ''">
                                    <span th:style="${board.PlusVO.eventStatus == '진행마감'} ? 'color:red' : ''">
                                        [[${board.PlusVO.eventStatus}]]
                                    </span>
                                </span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${searchVO.prev}">
                        <a class="page-link" aria-label="이전"
                            th:href="@{/eventParticipation(nowPage=${searchVO.beginPage - 1})}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each=" i : ${#numbers.sequence(searchVO.beginPage, searchVO.endPage)}">
                        <a class="page-link" th:href="@{/eventParticipation(nowPage=${i})}">[[${i}]]</a>
                    </li>
                    <li class="page-item" th:if="${searchVO.next}">
                        <a class="page-link" aria-label="다음"
                            th:href="@{/eventParticipation(nowPage=${searchVO.endPage + 1})}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div sec:authorize="hasRole('ROLE_Y')">
                <input type="button" class="btn btn-primary btn-sm" value="게시글 작성"
                    onclick="location.href='/goParticipation'">
                <input type="button" class="btn btn-primary btn-sm" value="게시글 선택 삭제" onclick="goEventDeletes()">
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/content/culture/culture.js"></script>
</th:block>

</html>