<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/homePage/homePage_detail_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴 때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/content/homePage/culture.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="border-top border-success border-2 mt-3 mb-1 border-opacity-50">

    </div>
    <div class="row">
        <div class="col-6 mt-3" style="padding: 0;">
            <table class="text-center table table-bordered table-success">
                <colgroup>
                    <col width="30%">
                    <col width="70%">
                </colgroup>
                <tbody>
                    <tr>
                        <td>프로그램명</td>
                        <td>[[${board.boardTitle}]]</td>
                    </tr>
                    <tr>
                        <td>강사명</td>
                        <td>[[${board.PlusVO.teacher}]]</td>
                    </tr>
                    <tr>
                        <td>대상</td>
                        <td>[[${board.PlusVO.target}]]</td>
                    </tr>
                    <tr>
                        <td>상태</td>
                        <td>[[${board.PlusVO.eventStatus}]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6 mt-3" style="padding: 0;">
            <table class="text-center table table-bordered table-success">
                <colgroup>
                    <col width="30%%">
                    <col width="70%">
                </colgroup>
                <tbody>
                    <tr>
                        <td>운영기간</td>
                        <td>[[${board.PlusVO.openDate}]] ~ [[${board.PlusVO.closeDate}]]</td>
                    </tr>
                    <tr>
                        <td>신청기간</td>
                        <td>[[${board.PlusVO.toDate}]] ~ [[${board.PlusVO.fromDate}]]</td>
                    </tr>
                    <tr>
                        <td>정원</td>
                        <td>[[${board.PlusVO.personnel}]] / [[${board.PlusVO.maximumPerson}]]</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <th:block
                                th:if="${board.PlusVO.personnel lt board.PlusVO.maximumPerson} and ${board.PlusVO.eventStatus == '진행예정'}">
                                현재 [[${board.PlusVO.maximumPerson - board.PlusVO.personnel}]]명의 인원이 신청 가능합니다
                            </th:block>
                            <th:block
                                th:unless="${board.PlusVO.personnel lt board.PlusVO.maximumPerson} and ${board.PlusVO.eventStatus == '진행예정'}">
                                현재는 신청이 불가합니다.
                            </th:block>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12">
            <table class="table-bordered table">
                <tr style="height: 600px;">
                    <td colspan="4">
                        <pre>[[${board.content}]]</pre>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="color: blue;">
                            <form method="post" action="/download" id="downloadTag">
                                <input type="hidden" name="OriginFileName"
                                    th:value="${board.fileList[0].OriginFileName}">
                                <input type="hidden" name="AttachedFileName"
                                    th:value="${board.fileList[0].AttachedFileName}">
                                <!-- <th:block th:if="${board.fileList[0].AttachedFileName != ''}">
                                    <img th:src="@{/upload/}+${board.fileList[0].AttachedFileName}"
                                        style="height: 30vh;">
                                </th:block> -->
                                <div onclick="download()">[[${board.fileList[0].OriginFileName}]]</div>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
            <div sec:authorize="hasRole('ROLE_N')" class="d-grid gap-2 col-4 mx-auto">
                <th:block
                    th:if="${board.PlusVO.personnel lt board.PlusVO.maximumPerson} and ${board.PlusVO.eventStatus == '진행예정'} and ${check != 1}">
                    <input class="btn btn-outline-success" type="button" th:onclick="dateView([[${board.boardNum}]])"
                        value="신청하기">
                </th:block>
            </div>
            <div sec:authorize="hasRole('ROLE_Y')" class="d-md-flex justify-content-end">
                <input type="button" class="btn btn-primary btn-sm" style="margin-right: 5px;"
                    th:onclick="|location.href='@{/goEventUpdatePage(boardNum=${board.boardNum})}'|" value="게시물 수정">
                <input type="button" class="btn btn-primary btn-sm"
                    th:onclick="eventDelete([[${board.boardNum}]],[[${board.PlusVO.openDate}]],[[${board.boardTitle}]])"
                    value="게시물 삭제">
            </div>
            <div>
                <input class="btn btn-success btn-lg" type="button" value="목록"
                    onclick="location.href='/eventParticipation'">
            </div>
        </div>
    </div>






    <div class="modal" id="myModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/applyApp" method="post">
                    <div class="modal-body d-grid">
                        
                        <div>
                            <span style="color: red;">*</span><span>신청하실 날짜를 선택하세요</span>
                        </div>
                        <div>
                            <input type="date" class="form-control" name="applyDate" id="applyDate">
                        </div>
                        <input type="hidden" id="boardNumTag" name="boardNum">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-primary">신청</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴 때 같이 실행되는 js -->
    <script src="/js/content/culture/culture.js"></script>
    <script>
        function download() {
            const downloadTag = document.querySelector("#downloadTag");
            downloadTag.submit();

        }
    </script>
</th:block>

</html>