<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/homePage/homePage_detail_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <link rel="stylesheet" href="/css/content/homePage/movie.css">
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row mt-4">
        <div class="col-12 mt-4" style="text-align: center;">
            <form action="/libraryEvent" method="post">
                <tr>
                    <td colspan="4">
                        <select name="searchType" class="form-select" style="width: 200px; display: inline-block;">
                            <option value="BOARD_TITLE" th:selected="${searchVO.searchType == 'BOARD_TITLE'}">제목
                            </option>
                            <option value="USER_NAME" th:selected="${searchVO.searchType == 'USER_NAME'}">작성자
                            </option>
                        </select>
                        <input type="search" class="form-control" style="width: 670px; display: inline-block;"
                            name="searchValue" th:value="${searchVO.searchValue}">
                        <input type="submit" class="btn btn-primary" style="margin-bottom: 3px;" value="검색">
                    </td>
                </tr>
            </form>
        </div>
        <div class="border-top border-success border-2 mt-3 mb-1 border-opacity-50">

        </div>
        <div class="col mt-4">
            <table class="align-middle table">
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                </colgroup>
                <tbody>
                    <tr>
                        <td colspan="4">
                            <div class="row" style="margin: 5px;">
                                <div class="col-4 card" th:each="board : ${boardList}" style="padding: 10px;">

                                    <a th:href="@{/eventDetailBoard(boardNum=${board.boardNum})}">
                                        <th:block th:each="e:${board.fileList}" th:if="${e.isMain=='Y'}">
                                            <img th:src="@{'/upload/' + ${e.attachedFileName}}"
                                                class="card-img-top" style="height: 350px;" alt="...">
                                        </th:block>
                                    </a>

                                    <div class="card-body" style="font-weight: bold;">
                                        <p class="card-text">[[${board.boardTitle}]]</p>
                                        <p class="card-text">
                                            [[${board.boardDate}]]<span
                                                style="padding-left: 130px; font-weight: 400;">[[${board.MemberVO.userName}]]</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- 페이징 -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${searchVO.prev}">
                        <a class="page-link" aria-label="이전"
                            th:href="@{/libraryEvent(nowPage=${searchVO.beginPage - 1})}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each=" i : ${#numbers.sequence(searchVO.beginPage, searchVO.endPage)}">
                        <a class="page-link" th:href="@{/libraryEvent(nowPage=${i})}">[[${i}]]</a>
                    </li>
                    <li class="page-item" th:if="${searchVO.next}">
                        <a class="page-link" aria-label="다음"
                            th:href="@{/libraryEvent(nowPage=${searchVO.endPage + 1})}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div sec:authorize="hasRole('ROLE_Y')">
                <input type="button" class="btn btn-primary btn-sm" value="게시글 작성"
                    onclick="location.href='/goEventBoard'">
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/content/culture/culture.js"></script>
</th:block>

</html>