<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/homePage/homePage_detail_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row mt-4">
        <div class="col-12">
            <h3>
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="50" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
              </svg>
             / 문화 행사/교육 / 도서관 행사</h3>
          </div>
        <div class="col-12 mt-4" style="text-align: center;">
            <form action="/libraryEvent" method="post">
                <tr>
                    <td colspan="4">
                        <select name="searchType">
                            <option value="BOARD_TITLE" th:selected="${searchVO.searchType == 'boardTitle'}">제목</option>
                            <option value="USER_ID" th:selected="${searchVO.searchType == 'userId'}">작성자</option>
                        </select>
                        <input type="search" name="searchValue" th:value="${searchVO.searchValue}">
                        <input type="submit" value="검색">
                    </td>
                </tr>
            </form>
        </div>
        <div class="col mt-4">
            <table class="align-middle table">
                <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <col width="25%">
                </colgroup>
                <tbody>
                    <tr >
                        <td colspan="4">
                            <div class="row">
                                <div><input type="checkbox" id="allChk" onclick="allchk()" checked></div>
                                <div class="col-4 card" th:each="board : ${boardList}">
                                    <input type="checkbox" class="chk" checked>
                                    <a th:href="@{/eventDetailBoard(boardNo=${board.boardNo})}">
                                        <img th:src="@{'/upload/' + ${board.fileList[0].attachedFileName}}" class="card-img-top" alt="...">
                                    </a>
                                    <div class="card-body">
                                        <p class="card-text">[[${board.boardTitle}]]</p>
                                        <p class="card-text">[[${board.memberVO.userId}]]</p>
                                        <p class="card-text">[[${board.boardDate}]]</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- 페이징 -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item" th:if="${searchVO.prev}">
                    <a class="page-link" aria-label="이전" th:href="@{/libraryEvent(nowPage=${searchVO.beginPage - 1})}">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item" th:each=" i : ${#numbers.sequence(searchVO.beginPage, searchVO.endPage)}">
                    <a class="page-link" th:href="@{/libraryEvent(nowPage=${i})}">[[${i}]]</a>
                  </li>
                  <li class="page-item" th:if="${searchVO.next}">
                    <a class="page-link"  aria-label="다음" th:href="@{/libraryEvent(nowPage=${searchVO.endPage + 1})}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            <div>
                <th:block th:if="${session.loginInfo != null}">
                    <th:block th:if="${session.loginInfo.isAdmin == 'Y'}">
                        <input type="button" value="게시글 작성" onclick="location.href='goEventBoard'">
                        <input type="button" value="게시글 삭제" th:onclick="culDeleteBoard(boardNum)">
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <script src="/js/content/culture/culture.js"></script>
</th:block>
</html>