<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- headerFragment -->
<th:block th:fragment="headerFragment">
    <!-- headerFragment -->
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <!-- 네비게이션 -->
                    <nav class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid">
                            <a class="navbar-brand" onclick="location.href='/home'">
                                <img src="/upload/greenLibraryMark.png" alt="greenLibraryMark">
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarText">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <!-- <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Features</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Pricing</a>
                                    </li> -->
                                </ul>
                                <span class="navbar-text">
                                    <th:block th:each="e:${memberMenuList}">
                                        <th:block th:each="e1:${e.webSideMenuVOList}">
                                            <a sec:authorize="isAnonymous()"
                                                th:onclick="goPage([[${e1.sideMenuPage}]])">[[${e1.sideMenuName}]]
                                            </a>
                                        </th:block>
                                    </th:block>
                                    <th:block sec:authorize="isAuthenticated()">
                                        <span class="login-div" style="display: inline-block;">
                                            <th:block>
                                                <div class="mt-3" sec:authorize="hasRole('ROLE_Y')">
                                                    <span style="color: red;">*</span>
                                                    <span style="cursor: pointer;"
                                                        onclick="location.href='/goApplyListPage'">[[${#lists.size(apply)}]]</span>개의
                                                    신청이 있습니다.
                                                </div>
                                                <div class="mt-3" sec:authorize="hasRole('ROLE_N')">
                                                    <th:block
                                                        th:if="${applyUser != '' or #lists.size(applyUser) != 0 or applyUser != null} ">
                                                        <th:block th:if="${#lists.size(applyUser) == 0} ">
                                                            <span style="cursor: pointer;"
                                                                onclick="location.href='/goApplyUserListPage'">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="30"
                                                                    height="30" fill="currentColor"
                                                                    class="bi bi-display" viewBox="0 0 16 16">
                                                                    <path
                                                                        d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4q0 1 .25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75Q6 13 6 12H2s-2 0-2-2zm1.398-.855a.76.76 0 0 0-.254.302A1.5 1.5 0 0 0 1 4.01V10c0 .325.078.502.145.602q.105.156.302.254a1.5 1.5 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.76.76 0 0 0 .254-.302 1.5 1.5 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.76.76 0 0 0-.302-.254A1.5 1.5 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145" />
                                                                </svg>
                                                            </span>
                                                            <span
                                                                style="font-size: 15px; font-weight: bold; display: inline-block; text-align: center;">
                                                                내 신청 페이지
                                                            </span>
                                                        </th:block>
                                                        <th:block th:if="${#lists.size(applyUser) != 0}">
                                                            <span style="color: red;">*</span>
                                                            <span style="cursor: pointer;"
                                                                onclick="location.href='/goApplyUserListPage'">[[${#lists.size(applyUser)}]]</span>개의
                                                            알림이 있습니다.
                                                        </th:block>
                                                    </th:block>
                                                </div>
                                            </th:block>
                                        </span>
                                        <span>[[${#authentication.name}]]님</span>
                                        <span onclick="logout()">로그아웃</span>
                                        <span onclick="location.href='/goMyPage'">마이페이지</span>
                                    </th:block>
                                </span>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <!-- 메뉴 -->
                    <!-- 클래스에 있는 gx는 부트스트랩 거터 부분에서 가져옴 -->
                    <div class="row mt-3 mb-3 text-center gx-2">
                        <th:block th:each="e:${menuList}">
                            <div class="col bg-primary">
                                <!-- fs-2 뜻은 폰트 크기 -->
                                <!-- 드롭다운 -->

                                <div class="dropdown">

                                    <span class="text-white fs-2 dropdown-btn" type="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        [[${e.menuName}]]
                                    </span>


                                    <ul class="dropdown-menu">
                                        <th:block th:each="e1:${e.webSideMenuVOList}">
                                            <li>
                                                <a class="dropdown-item"
                                                    th:onclick="goPage([[${e1.sideMenuPage}]], [[${e1.sideMenuNum}]])">[[${e1.sideMenuName}]]</a>
                                            </li>
                                        </th:block>
                                    </ul>

                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-2"></div>

                <div class="col-10 bg-success-subtle">
                    <!-- 선택한 메뉴의 이름 -->
                    <th:block th:if="${selectedMenuIndex != null}">

                        <th:block th:each="e:${menuList}" th:if="${e.menuIndex == selectedMenuIndex}">
                            <th:block th:each="e1:${e.webSideMenuVOList}"
                                th:if="${e1.sideMenuIndex == selectedSideMenuIndex}">

                                <div class="row">
                                    <div class="col">
                                        <!-- 선택한 사이드 메뉴의 이름 -->
                                        <h1>[[${e1.sideMenuName}]]</h1>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <!-- 메뉴 > 사이드 메뉴  -->
                                        <h3>📖 [[${e.menuName}]] > [[${e1.sideMenuName}]] </h3>
                                    </div>
                                </div>

                            </th:block>
                        </th:block>

                    </th:block>

                    <th:block th:if="${selectedMenuIndex == null}">

                        <!-- <div class="row">
                            <div class="col">
                                <h2>선택한 사이드 메뉴의 이름</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <h3>📖 메뉴 > 사이드 메뉴</h3>
                            </div>
                        </div> -->


                    </th:block>

                </div>
            </div>


        </div>
    </div>

    <script>
        function goPage(page, sideMenuNum) {
            alert(`${page}로 이동합니다.`)
            location.href = `/${page}`
        }
    </script>



    <script src="/js/fragment/homePage.js"></script>
</th:block>

</html>