<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/homePage/homePage_detail_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/css/content/homePage/culcture.css"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 -->
    <div class="row mt-3 justify-content-center">
        <div class="col">
            <div style="text-align: center;">
                <form action="/eventParticipation" method="post">
                    <tr>
                        <td colspan="4">
                            <select name="searchType" class="form-select" style="width: 200px; display: inline-block;">
                                <option value="BOARD_TITLE" th:selected="${searchVO.searchType == 'board_Title'}">프로그램명
                                </option>
                                <option value="TEACHER" th:selected="${searchVO.searchType == 'TEACHER'}">강사명</option>
                            </select>
                            <input type="search" class="form-control" style="width: 670px; display: inline-block;"
                                name="searchValue" th:value="${searchVO.searchValue}">
                            <input type="submit" class="btn btn-primary" style="margin-bottom: 3px;" value="검색">
                        </td>
                    </tr>
                </form>
            </div>
            <div class="row row-cols-1 row-cols-md-2 g-6" style="margin: 5px;">
                <div class="col-6 card mb-3 mt-3 border-success" style="max-width: 520px; padding: 20px;"
                    th:each="board : ${boardList}">
                    <div class="row g-0 align-middle">
                        <div class="col-md-6">
                            <a th:href="@{/goDetailMoviePage(boardNum=${board.boardNum})}">
                                <img th:src="@{'/upload/' + ${board.fileList[0].attachedFileName}}"
                                    class="img-fluid rounded-start" style="height: 250px; width: 279px;">
                            </a>
                        </div>
                        <div class="col-md-6" style="padding: 10px;">
                            <div class="card-body mt-4">
                                <h5 class="card-title mb-3" style="font-weight: bold;">[[${board.MovieVO.movieName}]]
                                </h5>
                                <p class="card-text" style="display: flex; margin-bottom: 8px; ">
                                    <span style="font-weight: bold; color: rgb(2, 112, 112);">상영일자 ｜</span>
                                    [[${board.MovieVO.movieDay}]]

                                </p>
                                <p class="card-text" style="display: flex; margin-bottom: 8px;"><span
                                        style="font-weight: bold; color: rgb(2, 112, 112);">상영시간 ｜</span>
                                    [[${board.MovieVO.movieStart}]]
                                    <span style="display: inline-block; margin-left: 5px; margin-right: 5px;">~</span>
                                    [[${board.MovieVO.movieEnd}]]
                                </p>
                                <p class="card-text" style="display: flex;">
                                    <span style="font-weight: bold; color: rgb(2, 112, 112);">관람등급 ｜</span>
                                    <span style="display: inline-block;">[[${board.MovieVO.filmRating}]]</span>
                                </p>
                                <p class="card-text"><small class="text-body-secondary"></small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 페이징 -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${searchVO.prev}">
                        <a class="page-link" aria-label="이전" th:href="@{/movie(nowPage=${searchVO.beginPage - 1})}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each=" i : ${#numbers.sequence(searchVO.beginPage, searchVO.endPage)}">
                        <a class="page-link" th:href="@{/movie(nowPage=${i})}">[[${i}]]</a>
                    </li>
                    <li class="page-item" th:if="${searchVO.next}">
                        <a class="page-link" aria-label="다음" th:href="@{/movie(nowPage=${searchVO.endPage + 1})}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div sec:authorize="hasRole('ROLE_Y')">
                <input type="button" class="btn btn-primary btn-sm" value="게시글 작성"
                    onclick="location.href='/goInsertMoviePage'">
                <input type="button" class="btn btn-primary btn-sm" value="게시글 삭제" th:onclick="culDeleteBoard()">
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
    <!-- <script src="/"></script> -->
</th:block>

</html>