<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="boardMapper">
    <resultMap id="board" type="com.green.Library.web.board.vo.BoardVO">
        <id column="BOARD_NO"          property="boardNo"/>
        <result column="BOARD_TITLE"   property="boardTitle"/>
        <result column="CONTENT"       property="content"/>
        <result column="BOARD_DATE"    property="boardDate"/>
        <result column="USER_CODE"     property="userCode"/>
        <result column="BOARD_CNT"     property="boardCnt"/>
        <result column="BOARD_TYPE"     property="boardType"/>
        <association property="memberVO" resultMap="memberMapper.users"/>
        <collection property="AttachedList" resultMap="file"/>
    </resultMap>

    <resultMap id="file" type="com.green.Library.web.board.vo.UploadVO">
        <id column="ATTACHED_CODE" property="attachedCode"/>
        <result column="ORIGIN_FILE_NAME" property="originFileName"/>
        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
        <result column="IS_MAIN" property="isMain"/>
        <result column="BOARD_NO" property="boardNo"/>
    </resultMap>


<!-- /////////////////////////////공통/////////////////////////////// -->
    <!--  게시글 작성   -->
    <insert id="insertCulBoard">
        INSERT INTO BOARD(
            BOARD_TITLE
            , CONTENT
            , BOARD_DATE
            , BOARD_TYPE
            , USER_CODE
            , BOARD_CNT
            , BOARD_NO
        )
        VALUES(
            #{boardTitle}
            ,#{content}
            ,#{boardDate}
            ,#{boardType}
            ,#{userCode}
            ,#{boardCnt}
            ,#{boardNo}
        )
    </insert>

    <!--  게시판 개수 + 1  -->
    <select id="isNullBoardNo" resultType="int">
        SELECT CASE WHEN
        MAX(BOARD_NO) IS NULL
        THEN 1
        ELSE MAX(BOARD_NO) + 1
        END
        FROM BOARD
    </select>

    <!-- ///////////////////////////// 여기까지 공통 /////////////////////////////// -->

    <!--  게시판 개수  -->
    <select id="countBoard" resultType="int">
        SELECT COUNT (BOARD_NO)
        FROM BOARD
    </select>

    <!--  게시물 상세보기  -->
    <select id="selectBoardDetail" resultMap="board">
        SELECT
            BOARD.BOARD_NO
            ,BOARD.USER_CODE
            ,BOARD_TITLE
            ,BOARD_DATE
            ,BOARD_CNT
            ,CONTENT
            ,USER_ID
            ,ATTACHED_FILE_NAME
            ,IS_MAIN
        FROM BOARD
        INNER JOIN USERS
        ON BOARD.USER_CODE = USERS.USER_CODE
        INNER JOIN ATTACHED_FILE AS FILE
        ON BOARD.BOARD_NO = FILE.BOARD_NO
        WHERE BOARD.BOARD_NO = #{boardNo}
    </select>


    <!--  등록한 게시물 정보 리스트  -->
    <select id="forumSelectBoardList" resultMap="board">
        SELECT
        BOARD.BOARD_NO
        , BOARD_TITLE
        , CONTENT
        , DATE_FORMAT(BOARD_DATE, '%Y-%m-%d') AS BOARD_DATE
        , BOARD.USER_CODE
        , BOARD_CNT
        , USER_ID
        , USER_NAME
        FROM board INNER JOIN USERS
        ON BOARD.USER_CODE = USERS.USER_CODE
        <if test='searchValue != null and !searchValue.equals("")'>
            where ${searchType} LIKE CONCAT('%', #{searchValue} , '%')
        </if>
        ORDER BY BOARD_NO DESC
        LIMIT ${displayDataCnt} OFFSET ${displayDataCnt * (nowPage - 1)}
    </select>

    <!--  조회수 증가  -->

    <update id="boardCntUp">
        UPDATE BOARD
        SET BOARD_CNT = BOARD_CNT + 1
        WHERE BOARD_NO
    </update>

    <!--  게시판 삭제  -->
    <delete id="deleteBoard">
        DELETE FROM BOARD
        WHERE BOARD_NO = #{boardNo}
    </delete>

    <!--  게시판 수정  -->
    <update id="updateBoard">
        UPDATE BOARD
        SET
        BOARD_TITLE = #{boardTitle}
        ,CONTENT = #{content}
        WHERE BOARD_NO = #{boardNo}
    </update>


</mapper>































