<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="memberMapper">
    <resultMap id="users" type="com.green.Library.web.member.vo.MemberVO">
        <result property="userCode" column="USER_CODE"/>
        <result property="userId" column="USER_ID"/>
        <result property="userPw" column="USER_PW"/>
        <result property="userName" column="USER_NAME"/>
        <result property="userTel" column="USER_TEL"/>
        <result property="postCode" column="POST_CODE"/>
        <result property="userAddr" column="USER_ADDR"/>
        <result property="addrDetail" column="ADDR_DETAIL"/>
        <result property="gender" column="GENDER"/>
        <result property="email" column="EMAIL"/>
        <result property="isAdmin" column="IS_ADMIN"/>
        <result property="cardNum" column="CARD_NUM"/>
        <result property="publishDate" column="PUBLISH_DATE"/>
        <result property="userIntro" column="USER_INTRO"/>
        <result property="cardStatus" column="CARD_STATUS"/>
        <association property="applyVO" resultMap="apply"/>
        <collection property="bookBorrowList" resultMap="bnrMapper.bookBNR"/>
    </resultMap>
    <resultMap id="apply" type="com.green.Library.web.member.vo.ApplyVO">
        <result property="applyNum" column="APPLY_NUM"/>
        <result property="applyDate" column="APPLY_DATE"/>
        <result property="userCode" column="USER_CODE"/>
        <result property="boardNum" column="BOARD_NUM"/>
    </resultMap>

    <insert id="insertMember">
        INSERT INTO USERS(
            USER_ID
            , USER_PW
            , USER_TEL
            , USER_NAME
            , POST_CODE
            , USER_ADDR
            , ADDR_DETAIL
            , GENDER
            , EMAIL
        )VALUES(
            #{userId}
            ,#{userPw}
            ,#{userTel}
            ,#{userName}
            ,#{postCode}
            ,#{userAddr}
            ,#{addrDetail}
            ,#{gender}
            ,#{email}
        )
    </insert>

    <select id="login" resultMap="users">
        SELECT
            USER_ID
            ,USER_PW
            ,USER_NAME
            ,USER_CODE
            ,IS_ADMIN
        FROM USERS
        WHERE USER_ID = #{userId}
    </select>

    <insert id="apply">
        INSERT INTO APPLY(
            APPLY_DATE
            ,USER_CODE
            ,BOARD_NUM
        )VALUES(
            #{applyDate}
            ,#{userCode}
            ,#{boardNum}
        )
    </insert>
    <select id="applyList" resultMap="users">
        SELECT
            DATE_FORMAT(A.APPLY_DATE, '%Y-%m-%d') AS APPLY_DATE
            ,A.USER_CODE
            ,BOARD_NUM
            ,USER_NAME
        FROM USERS AS U
        INNER JOIN APPLY AS A
        ON A.USER_CODE = U.USER_CODE
    </select>

    <select id="selectMemberInfoToUserCode" resultMap="users">
        SELECT
        USER_CODE ,
        USER_ID ,
        USER_NAME,
        USER_TEL
        FROM
        users
        where
        user_code = #{userCode};
    </select>


</mapper>































