<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="participationForumMapper">
    <resultMap id="culBoard" type="com.green.Library.web.participationForum.vo.ParticipationForumVO">
    <id column="BOARD_NO"          property="boardNo"/>
    <result column="BOARD_TITLE"   property="boardTitle"/>
    <result column="CONTENT"       property="content"/>
    <result column="BOARD_DATE"    property="boardDate"/>
    <result column="USER_CODE"     property="userCode"/>
    <result column="BOARD_CNT"     property="boardCnt"/>
    <result column="BOARD_TYPE"     property="boardType"/>
    <association property="memberVO"  resultMap="memberMapper.users" />
    <collection property="images" resultMap="img"/>
    </resultMap>

    <resultMap id="img" type="com.green.Library.web.img.vo.ImgVO">
        <id column="IMG_CODE"               property="imgCode"/>
        <result column="ORIGIN_FILE_NAME"   property="originFileName"/>
        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
        <result column="IS_MAIN"            property="isMain"/>
    </resultMap>

    <!-- 공지사항 등록-->
    <insert id="insertBoard">
        INSERT INTO BOARD (
            BOARD_NO
            , BOARD_TITLE
            , CONTENT
            , BOARD_DATE
            , BOARD_TYPE
            , USER_CODE
            , BOARD_CNT
            , ATTACHED_FILE_NAME
        ) VALUES (
            #{boardNo}
            , #{boardTitle}
            , #{content}
            , #{boardDate}
            , #{boardType}
            , #{userCode}
            , #{boardCnt}
            , #{attachedFileName}
        )
    </insert>

<!--    20240302 resultMap 없어서 오류남-->
    <!-- 공지사항 조회-->
<!--    <select id="selectNotice" resultMap="board">-->
<!--        SELECT BOARD.BOARD_NO-->
<!--            , BOARD_TITLE-->
<!--            , CONTENT-->
<!--            , BOARD_DATE-->
<!--            , BOARD.USER_CODE-->
<!--            , USERS.USER_NAME-->
<!--            , BOARD_CNT-->
<!--        FROM BOARD INNER JOIN USERS-->
<!--        ON BOARD.USER_CODE = USERS.USER_CODE-->
<!--    </select>-->

<!--    &lt;!&ndash; 조회수 증가&ndash;&gt;-->
<!--    <update id="updateCnt">-->
<!--        UPDATE BOARD-->
<!--        SET BOARD_CNT = BOARD_CNT + 1-->
<!--        WHERE BOARD_NO = #{boardNo}-->
<!--    </update>-->

<!--    &lt;!&ndash; 공지사항 상세조회&ndash;&gt;-->
<!--    <select id="noticeDetail" resultMap="board">-->
<!--            SELECT BOARD_NO-->
<!--            , BOARD_TITLE-->
<!--            , BOARD_DATE-->
<!--            , BOARD_CNT-->
<!--            , CONTENT-->
<!--&lt;!&ndash;            , ATTACHED_FILE_NAME&ndash;&gt;-->
<!--            FROM BOARD-->
<!--            WHERE BOARD_NO = #{boardNo}-->
<!--    </select>-->
</mapper>































