<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="participationForumMapper">

    <!-- 공지사항 등록-->
    <insert id="insertBoard">
        INSERT INTO BOARD (
            BOARD_NO
            , BOARD_TITLE
            , CONTENT
            , BOARD_DATE
            , BOARD_TYPE
            , USER_CODE
            , BOARD_CNT
        ) VALUES (
            #{boardNo}
            , #{boardTitle}
            , #{content}
            , #{boardDate}
            , #{boardType}
            , #{userCode}
            , #{boardCnt}
        )
    </insert>

    <!-- 첨부파일 등록용-->
    <insert id="insertImg">
        INSERT INTO IMAGE (
            IMG_CODE
            , ORIGIN_FILE_NAME
            , ATTACHED_FILE_NAME
            , IS_MAIN
            , BOARD_NO
        ) VALUES
        <foreach collection="imgList" item="img" separator=",">
        (
        #{img.imgCode}
        , #{img.originFileName}
        , #{img.attachedFileName}
        , #{img.isMain}
        , #{img.boardNo}
        )
        </foreach>
    </insert>

    <!-- 공지사항 조회-->
    <select id="selectNotice" resultMap="boardMapper.board">
        SELECT BOARD.BOARD_NO
            , BOARD_TITLE
            , CONTENT
            , BOARD_DATE
            , BOARD.USER_CODE
            , USERS.USER_NAME
            , BOARD_CNT
        FROM BOARD INNER JOIN USERS
        ON BOARD.USER_CODE = USERS.USER_CODE
    </select>

    <!-- 조회수 증가-->
    <update id="updateCnt">
        UPDATE BOARD
        SET BOARD_CNT = BOARD_CNT + 1
        WHERE BOARD_NO = #{boardNo}
    </update>

    <!-- 공지사항 상세조회-->
    <select id="noticeDetail" resultMap="boardMapper.board">
            SELECT BOARD.BOARD_NO
            , BOARD_TITLE
            , BOARD_DATE
            , BOARD_CNT
            , CONTENT
            , ATTACHED_FILE_NAME
            FROM BOARD INNER JOIN IMAGE
            ON BOARD.BOARD_NO = IMAGE.BOARD_NO
            WHERE BOARD.BOARD_NO = #{boardNo}
    </select>

</mapper>






























