<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="webHomeMapper">

    <select id="recommendedBookList3" resultMap="findBookMapper.findBook">
        select *
        from find_book_view
        where 1 = 1
            AND USER_TYPE IS not NULL
            AND USER_TYPE != ''
        limit 6
    </select>

    <select id="newBookList6" resultMap="findBookMapper.findBook">
        select *
        from find_book_view
        ORDER BY BOOK_REGDATE DESC
        LIMIT 6;
    </select>

   <select id="manyBorrowBookList6" resultMap="findBookMapper.findBook">
        SELECT
            book.book_title ,
            book_info.BOOK_INFO_ATTACHED_FILE_NAME ,
            BOOK_BORROW_CNT
        FROM book INNER JOIN book_info
            ON book.BOOK_CODE = book_info.BOOK_CODE
       ORDER by book_info.BOOK_BORROW_CNT DESC
       LIMIT 6;
   </select>

    <select id="libraryEventList3" resultType="map">
        SELECT
        board.BOARD_NUM,
        attached_file.ATTACHED_FILE_NAME
        FROM
        board INNER JOIN attached_file
        ON board.BOARD_NUM = attached_file.BOARD_NUM
        WHERE
        board_type = 24 AND attached_file.IS_MAIN = 'Y'
        limit 3
    </select>

</mapper>































