<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="webMenuMapper">

    <!--    헤더 메뉴-->
    <resultMap id="headerMenu" type="com.green.Library.web.webMenu.vo.WebHeaderMenuVO">
        <id column="MENU_NUM" property="menuNum" />
        <result column="MENU_NAME" property="menuName" />
        <result column="MENU_PAGE" property="menuPage" />
        <result column="MENU_INDEX" property="menuIndex" />
        <result column="MENU_TYPE" property="menuType" />
        <collection property="webSideMenuVOList" resultMap="webMenuMapper.sideMenu" />
    </resultMap>

    <!--사이드 메뉴-->
    <resultMap id="sideMenu" type="com.green.Library.web.webMenu.vo.WebSideMenuVO">
        <id column="SIDE_MENU_NUM" property="sideMenuNum" />
        <result column="SIDE_MENU_NAME" property="sideMenuName" />
        <result column="SIDE_MENU_PAGE" property="sideMenuPage" />
        <result column="SIDE_MENU_INDEX" property="sideMenuIndex" />
        <result column="MENU_NUM" property="menuNum" />
    </resultMap>

    <!--헤더 메뉴 및 사이드 메뉴 불러오기-->
    <select id="selectWebMenuList" resultMap="headerMenu">
        SELECT
        header_menu.MENU_NUM ,
        MENU_NAME ,
        MENU_INDEX ,
        MENU_TYPE,
        SIDE_MENU_NAME ,
        SIDE_MENU_PAGE ,
        SIDE_MENU_INDEX ,
        SIDE_MENU.SIDE_MENU_NUM
        FROM
        header_menu INNER JOIN side_menu
        ON header_menu.MENU_NUM = side_menu.MENU_NUM
        WHERE header_menu.MENU_TYPE = #{menuType}
    </select>

<!--    선택된 메뉴 찾기-->
    <select id="" resultType="int">

    </select>


</mapper>














