<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="libraryMemberMapper">

<!--    <select id="">-->
<!--        SELECT BOOK_CODE-->
<!--            , BOOK_ATTACHED_FILE_NAME-->
<!--            , BOOK_TITLE-->
<!--            , BOOK_WRITER-->
<!--            , BORROW_DATE-->
<!--            , RETURN_DATE-->
<!--            , (SELECT )-->
<!--    </select>-->
</mapper>































