<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragment/homePage/homePage_detail_layout}">

<th:block layout:fragment="content_css">
  <!-- html 파일이 열릴때 같이 실행되는 css -->
  <link rel="stylesheet" href="/">
</th:block>

<th:block layout:fragment="contentFragment">
  <!-- html 코드 작성 -->
  <div class="row">
    <div class="col">
      <!-- 검색 기능-->

      <div class="row mt-3">
        <div class="col-3">
          <div class="input-group mb-3">
            <select class="form-select" name="searchType">
              <option value="BOARD_TITLE" th:selected="${searchVO.searchType == 'boardTitle'}">제목</option>
            </select>
          </div>
        </div>

        <div class="col-5">
          <input type="text" class="form-control" name="searchValue" th:value="${searchVO.searchValue}"
            aria-label="Text input with dropdown button">
        </div>

        <div class="col-2">
          <input type="submit" class="btn btn-outline-secondary" value="검색" id="inputGroupFileAddon04">
        </div>

      </div>

      <!-- 전체 게시물 갯수 -->
      <div class="row">
        <div class="col">
          전체게시글 수 총 N 개
        </div>
      </div>

      <!-- 게시물 목록 -->
      <div class="row mt-3">
        <div class="col">
          <table class="table table-bordered align-middle text-center">
            <colgroup>
              <col width="10%">
              <col width="*">
              <col width="15%">
              <col width="15%">
              <col width="15%">
            </colgroup>
            <thead>
              <tr>
                <td>번호</td>
                <td>제목</td>
                <td>작성자</td>
                <td>등록일</td>
                <td>조회수</td>
              </tr>
            </thead>

            <tbody>
              <!-- 조회된 묻고 답하기 게시물들 -->
              <th:block th:each="e , state :${boardVOList}">
                <!-- 여기다가 비밀글인경우 비밀번호 입력하고 들어갈 수 있게 매개변수 던져야할듯 -->
                <tr th:onclick="detailAskBoard([[${e.boardNum}]])">
                  <td>[[${#lists.size(boardVOList)-state.index}]]</td>
                  <td>
                    <!-- 만약에 비밀글 인경우 -->
                    <th:block th:if="${e.askAndAnswerBoardVO.askAndAnswerBoardPublicOrPrivate == 'private'}">🔒</th:block>
                    [[${e.boardTitle}]]
                  </td>
                  <td>[[${e.memberVO.userName}]]</td>
                  <td>[[${e.boardDate}]]</td>
                  <td>[[${e.boardCnt}]]</td>
                </tr>
                <!-- 이글에 만약에 답글이 달린 경우 이 글 바로밑에 떠야하는데 그걸 어떻게 해결할지가 문제임 -->
                <!-- 답글 boardVO리스트도 같이 들고와서 만약에 이글에 답변이 달렸다면 바로 밑에 나오게 해야할듯 -->
              </th:block>

              <tr>
                <td>3</td>
                <td>사물함이 고장났어요</td>
                <td>오철민</td>
                <td>2024-03-20</td>
                <td>1</td>
              </tr>

              <tr>
                <td>2</td>
                <td>사물함이 고장났어요</td>
                <td>오철민</td>
                <td>2024-03-20</td>
                <td>1</td>
              </tr>

              <tr>
                <td>1</td>
                <td>사물함이 고장났어요</td>
                <td>오철민</td>
                <td>2024-03-20</td>
                <td>1</td>
              </tr>
            </tbody>


          </table>
        </div>
      </div>

    </div>
  </div>


  <!-- 페이징처리 -->

  <div class="col-12 text-center">
    <th:block th:if="${searchVO.prev}">
      <a th:href="@{/notice(nowPage=${searchVO.beginPage - 1})}">이전</a>
    </th:block>
    <th:block th:each=" i : ${#numbers.sequence(searchVO.beginPage, searchVO.endPage)}">
      <a th:href="@{/notice(nowPage=${i})}">[[${i}]]</a>
    </th:block>
    <th:block th:if="${searchVO.next}">
      <a th:href="@{/notice(nowPage=${searchVO.endPage + 1})}">다음</a>
    </th:block>
  </div>

  <div class="row">
    <div class="col">
      <!-- 이 버튼을 누르면 다시 1번으로 돌아감 -->
      <div class="float-start">
        <input type="button" value="목록" onclick="location.href='/notice'">
      </div>
    </div>
    <div class="col ">
      <!-- 로그인 해야지 사용가능한 글쓰기 버튼 -->
      <div class="float-end">
        <input type="button" value="글쓰기" onclick="location.href='/askAndAnswerWrite?boardType=30'">
      </div>

    </div>
  </div>


  <script>
    function detailAskBoard(boardNum){
      console.log(boardNum)
    
      location.href=`/goDetailAskBoard?boardNum=${boardNum}`;
    }
  </script>
</th:block>

<th:block layout:fragment="content_js">
  <!-- html 파일이 열릴때 같이 실행되는 js -->
  <script src="/"></script>
</th:block>

</html>