<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragment/homePage/homePage_detail_layout}">

<th:block layout:fragment="content_css">
  <!-- html 파일이 열릴때 같이 실행되는 css -->
  <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
  <!-- html 코드 작성 -->
  <div class="row">
    <div class="col">
      <!-- 검색 기능-->

      <div class="row mt-3">
        <div class="col-3">
          <div class="input-group mb-3">
            <select class="form-select" name="searchType">
              <option value="BOARD_TITLE" th:selected="${searchVO.searchType == 'boardTitle'}">제목</option>
            </select>
          </div>
        </div>

        <div class="col-5">
          <input type="text" class="form-control" name="searchValue" th:value="${searchVO.searchValue}"
            aria-label="Text input with dropdown button">
        </div>

        <div class="col-2">
          <input type="submit" class="btn btn-outline-secondary" value="검색" id="inputGroupFileAddon04">
        </div>

      </div>

      <!-- 전체 게시물 갯수 -->
      <div class="row">
        <div class="col">
          전체게시글 수 총 [[${normalTotalBoardCnt}]] 개
        </div>
      </div>

      <!-- 게시물 목록 -->
      <div class="row mt-3">
        <div class="col">
          <table class="table table-bordered align-middle text-center">
            <colgroup>
              <col width="10%">
              <col width="*">
              <col width="15%">
              <col width="15%">
              <col width="15%">
            </colgroup>
            <thead>
              <tr>
                <td>번호</td>
                <td>제목</td>
                <td>작성자</td>
                <td>등록일</td>
                <td>조회수</td>
              </tr>
            </thead>

            <tbody>
              <!-- 조회된 묻고 답하기 게시물들 -->

              <th:block th:each="e3, state :${boardVOList}">
                <tr th:onclick="detailAskBoard([[${e3.boardNum}]], [[${e3.askAndAnswerBoardVO.askAndAnswerBoardPublicOrPrivate}]],
                 [[${isAdmin}]], [[${userCode}]], [[${e3.userCode}]], [[${e3.askAndAnswerBoardVO.chkAskUserCode}]])">
                  <td>[[${#lists.size(boardVOList) - state.index}]]</td>
                  <td>
                    <!-- 만약에 비밀글 인경우 -->
                    <th:block th:if="${e3.askAndAnswerBoardVO.askAndAnswerBoardPublicOrPrivate == 'private'}">🔒
                    </th:block>
                    [[${e3.boardTitle}]]
                  </td>
                  <td>[[${e3.memberVO.userName}]]</td>
                  <td>[[${e3.boardDate}]]</td>
                  <td>[[${e3.boardCnt}]]</td>
                </tr>
              </th:block>
            </tbody>


          </table>
        </div>
      </div>

    </div>
  </div>


  <!-- 페이징처리 -->

  <div class="col-12 text-center">
    <th:block th:if="${searchVO.prev}">
      <a th:href="@{/notice(nowPage=${searchVO.beginPage - 1})}">이전</a>
    </th:block>
    <th:block th:each=" i : ${#numbers.sequence(searchVO.beginPage, searchVO.endPage)}">
      <a th:href="@{/notice(nowPage=${i})}">[[${i}]]</a>
    </th:block>
    <th:block th:if="${searchVO.next}">
      <a th:href="@{/notice(nowPage=${searchVO.endPage + 1})}">다음</a>
    </th:block>
  </div>

  <div class="row">
    <div class="col">
      <!-- 이 버튼을 누르면 다시 1번으로 돌아감 -->
      <div class="float-start">
        <input type="button" class=" btn btn-primary" value="목록" onclick="location.href='/notice'">
      </div>
    </div>
    <div class="col ">
      <!-- 로그인 해야지 사용가능한 글쓰기 버튼 -->
      <div class="float-end">
        <input class=" btn btn-primary" type="button" value="글쓰기" onclick="location.href='/askAndAnswerWrite?boardType=30'">
      </div>

    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="passwdModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div>
                비밀번호를 입력해주세요
              </div>
              <div>
                <input type="text" class="form-control" id="chkPasswd">
                <input type="hidden" id="chkBoardNum">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="chkPasswd()">Save changes</button>
        </div>
      </div>
    </div>
  </div>



  <script>
    function detailAskBoard(boardNum, askAndAnswerBoardPublicOrPrivate,
      isAdmin, userCode, boardUserCode, chkAskUserCode) {
      console.log(boardNum)
      console.log(askAndAnswerBoardPublicOrPrivate)
      console.log(isAdmin)

      //작성자가 질문글을 쓰고 관리자가 답변해줬을경우 작성자는 자신의 글에 답변 달린것을 그냥 확인할 수 있게 해줘야함

      //만약에 askAndAnswerBoardPublicOrPrivate이 public인 경우는 비밀글이 아님.
      if ((askAndAnswerBoardPublicOrPrivate == 'public' | isAdmin == 'Y' |
       userCode == boardUserCode | chkAskUserCode == userCode)) {
        location.href = `/goDetailAskBoard?boardNum=${boardNum}`;
      } else {
        
        // public이 아닌경우는 비밀번호를 확인하고 들어감
        // 근데 관리자, 글작성자는 그냥 들어가게 하고 싶은데
        const passwdModal = new bootstrap.Modal('#passwdModal')
        const chkBoardNumTag = document.querySelector("#chkBoardNum");
        chkBoardNumTag.value = boardNum;
        passwdModal.show();
      }
    }

    function chkPasswd() {
      let passwd = document.querySelector("#chkPasswd").value;
      let chkBoardNumTag = document.querySelector("#chkBoardNum");
      boardNum = chkBoardNumTag.value;

      console.log(passwd)
      console.log(boardNum)

      // ------------------- 첫번째 방식 ---------------//
      fetch('/askBoardPasswordCheckFetch', { //요청경로
        method: 'POST',
        cache: 'no-cache',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
        },
        //컨트롤러로 전달할 데이터
        body: new URLSearchParams({
          // 데이터명 : 데이터값
          passwd : passwd ,
          boardNum , boardNum
        })
      })
        .then((response) => {
          if (!response.ok) {
            alert('fetch error!\n컨트롤러로 통신중에 오류가 발생했습니다.');
            return;
          }

          //return response.text(); //컨트롤러에서 return하는 데이터가 없거나 int, String 일 때 사용
          return response.json(); //나머지 경우에 사용
        })
        //fetch 통신 후 실행 영역
        .then((data) => {//data -> controller에서 리턴되는 데이터!
          console.log(data)
          if(data.isRight == 'Y'){
            location.href = `/goDetailAskBoard?boardNum=${data.boardNum}`;
          }else{
            alert("비밀번호 틀렸어요")
            location.href = `/askAndAnswer`;
          }

        })
        //fetch 통신 실패 시 실행 영역
        .catch(err => {
          alert('fetch error!\nthen 구문에서 오류가 발생했습니다.\n콘솔창을 확인하세요!');
          console.log(err);
        });

    }


  </script>
</th:block>

<th:block layout:fragment="content_js">
  <!-- html 파일이 열릴때 같이 실행되는 js -->
  <!-- <script src="/"></script> -->
</th:block>

</html>