<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragment/homePage/homePage_detail_layout}">

<!-- html 파일이 열릴때 같이 실행되는 css-->
<th:block layout:fragment="content_css">
  <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
  <!-- html code 작성-->
  <!-- html 코드 작성 -->
  <div class="row">
    <div class="col">

      <div class="row mt-2">
        <div class="col">
          <!-- 제목 -->
          <div class="h4 border border-start-0 border-end-0">
            [[${boardVO.boardTitle}]]
          </div>
          <div>
            <!-- 작성자, 작성일, 끝에는 조회수 -->
            <div class="row border border-start-0 border-end-0 border-top-0">
              <div class="col-2">작성자 : [[${memberVO.userId}]]</div>
              <div class="col-3">작성일 : [[${boardVO.boardDate}]]</div>
              <div class="col-5"></div>
              <div class="col-2">조회수 : [[${boardVO.boardCnt}]]</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5 mb-5">
        <div class="col">
          <!-- 글 내용 -->
          [[${boardVO.content}]]
        </div>
      </div>

      <div class="row mt-5">
        <div class="col">
          <!-- 첨부된 파일, 끝에는 수정하기 버튼, 삭제하기 버튼, 답변하기 버튼(관리자), 목록으로 -->
          <div class="row mt-5 mb-1">
            <div class="col">
              <!-- 첨부파일 명 -->
              <th:block th:if="boardVO.fileList[0].OriginFileName != null">
                <img th:src="@{/upload/} + ${boardVO.fileList[0].AttachedFileName}" class="rounded" alt="" width="250px"
                  id="bookImg">
                <div style="color: blue;">
                  <form method="post" action="/download" id="downloadTag">
                  <input type="hidden" name="OriginFileName" th:value="${boardVO.fileList[0].OriginFileName}">
                  <input type="hidden" name="AttachedFileName" th:value="${boardVO.fileList[0].AttachedFileName}">
                  <span
                    onclick="download()">[[${boardVO.fileList[0].OriginFileName}]]</span>
                  </form>
                </div>
              </th:block>

            </div>
          </div>

          <div class="row">
            <div class="col-8"></div>
            <div class="col-1">
              <!-- 수정하기 글쓴이 혹은 관리자만 볼 수 있어야함 근데 공지사항은 -->
              <th:block th:if="${memberVO.isAdmin == 'Y'}">
                <input type="button" class="btn btn-primary" value="수정하기"
                  th:onclick="modifyNoticeBoard([[${boardVO.boardNum}]])">
              </th:block>
            </div>

            <div class="col-1 ">
              <!-- 삭제하기 글쓴이 혹은 관리자만 볼 수 있어야 함-->
              <th:block th:if="${memberVO.isAdmin == 'Y'}">
                <input type="button" class="btn btn-danger" th:onclick="goDeleteNoticeBoard([[${boardVO.boardNum}]])"
                  value="삭제하기">
              </th:block>
            </div>
            <div class="col-1">
              <!-- 목록으로 -->
              <input type="button" class="btn btn-primary" value="목록으로" onclick="location.href='/notice'">
            </div>

          </div>
        </div>
      </div>
    

    </div>
  </div>

  <script>
    // 공지사항 수정
    function modifyNoticeBoard(boardNum) {
      location.href = `/modifyNoticeBoard?boardNum=${boardNum}`;
    }

    //삭제하기
    function goDeleteNoticeBoard(boardNum) {
      console.log(boardNum);

      if (confirm("게시물을 삭제하실건가요?")) {
        location.href = `/goDeleteNoticeBoard?boardNum=${boardNum}`
      }
    }

    function download() {
      const downloadTag = document.querySelector("#downloadTag");
      downloadTag.submit();
      
    }
  </script>
</th:block>

<th:block layout:fragment="content_js">
  <!-- html 파일이 열릴때 같이 실행되는 css-->
  <!-- <script src="/"></script> -->
</th:block>

</html>